---
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';
import Slider from '../components/Slider.astro';
---

<!DOCTYPE html>
<html lang='pl-PL'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='description'
      content='Sauny fińskie, infrared, combi Infraline'
    />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <link
      rel='icon'
      type='image/png'
      href='/favicon.png'
    />

    <title>Infraline</title>
  </head>
  <body>
    <Nav />

    <main>
      <Slider />
    </main>

    <Footer />
  </body>
</html>
