---
import Nav from '../components/Nav.astro';
import Slider from '../components/Slider.astro';
import GoToOfficialPageFromContent from '../components/GoToOfficialPageFromContent.astro';
import Grid from '../components/Grid.astro';
import Footer from '../components/Footer.astro';
---

<!DOCTYPE html>
<html lang='pl-PL'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='description'
      content='Sauny fińskie, infrared, combi Infraline'
    />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <link
      rel='icon'
      type='image/png'
      href='/favicon.png'
    />

    <title>Infraline</title>
  </head>
  <body>
    <Nav />

    <main>
      <Slider />

      <div class='max-w-6xl mx-auto px-4 md:px-6 mt-4 md:mt-12 lg:mt-16'>
        <section class='grid md:grid-cols-2 gap-6 lg:gap-10'>
          <div>
            <h1 class='text-2xl font-bold lg:text-3xl mb-2 lg:mb-6'>
              Polski producent saun Infraline od prawie 20 lat.
            </h1>

            <p class='mb-2'>
              Zajmujemy się projektowaniem, doradztwem, a następnie produkcją i montażem saun
              Infraline, dostosowanych do oczekiwań i pomieszczeń naszych Klientów.
            </p>

            <p class='mb-2'>
              Bezpieczeństwo użytkowania saun marki Infraline zapewniają dodatkowo unijne
              certyfikaty: <strong>TUV/GS i CE.</strong>
            </p>

            <p>
              Od początku naszej działalności współpracujemy z profesjonalnymi europejskimi
              producentami systemów termicznych i materiałów do saun: EOS Saunatechnik GmbH, TPI
              GmbH RIEGLERSTR, Saunalux GmbH Products & CO.KG, Harvia i Tylö.
            </p>
          </div>

          <img
            src='/oferta.jpg'
            alt='sauna diamond Infraline'
          />
        </section>

        <GoToOfficialPageFromContent />

        <Grid />
      </div>
    </main>

    <Footer />
  </body>
</html>
