---
import Nav from '../components/Nav.astro';
---

<!DOCTYPE html>
<html lang='pl-PL'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <link
      rel='icon'
      type='image/png'
      href='/favicon.png'
    />

    <title>Infraline</title>
  </head>
  <body>
    <Nav />

    <main>
      <h1 class='font-bold'>Infraline</h1>
    </main>
  </body>
</html>
