<div
  class='w-full bg-slide1 h-[250px] sm:h-[400px] md:h-[500px] lg:h-[70vh] lg:min-h-[500px] bg-orange-600 flex flex-col text-center items-center justify-center bg-no-repeat bg-center bg-cover'
>
</div>
{[1, 2, 3, 4].map((dot) => <button>dot</button>)}

<script>
  function changeSlide() {}
</script>
